{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.przepis_new'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.przepis_new'|trans }}</h1>
    {{ form_start(form, { method: 'POST', action: url('przepis_new') }) }}
    {{ form_widget(form) }}
    <li>
        <ul class="skladnik" data-prototype="{{ form_widget(form.skladnik.vars.prototype)|e('html_attr') }}">

    </ul>
    </li>
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('stronaglowna_index') }}" class="btn btn-link">
            {{ 'action.back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}

{% endblock %}
