{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.przepis_view'|trans({'%id%': przepis.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>Przepis</h1>
    <div class="container">
    {% if przepis is defined and przepis|length %}
        <dl class="dl-horizontal">

            <dt>{{ 'tytul' }}</dt>
            <dd>{{ tytul }}</dd>
            <dt>{{ 'treść'|trans }}</dt>
            <dd>{{ przepis.tresc }}</dd>
            <dt>{{ 'autor' }}</dt>
            <dd>{{ autor }}</dd>
            <dt>{{ 'kategoria' }}</dt>
            <dd> {{ nazwaKategorii }}</dd>

        </dl>


    {% else %}
        <p>
            Nie znaleziono tego przepisu
        </p>
    {% endif %}

    </div>
{% endblock %}