{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.data_edit'|trans}}
{% endblock %}

{% block body %}
    <h1>{{ 'title.przepis_edit'|trans}}</h1>
    {{ form_start(form, { method: 'PUT', action: url('data_edit') }) }}
    {{ form_widget(form) }}

    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary" />
    </div>

    {{ form_end(form) }}
{% endblock %}