{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.dane_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.customer_panel'|trans }}</h1>


        <div>

            <a href="{{ url('mojprzepis_preview') }}" title="{{ 'mine_recipe'|trans }}">{{ 'mine_recipe'|trans }}</a>
            <a href="">Moje ulubione przepisy</a>
            <a href="{{ url('mojedane_view') }}" title="{{ 'mine_data'|trans }}">{{ 'mine_data'|trans }}</a>

        </div>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>


{% endblock %}