{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.data_view'|trans}}) }}
{% endblock %}

{% block body %}
    <div class="container">
    <h1>Moje dane</h1>

        <dl class="dl-horizontal">

            <dt>Imię</dt>
            <dd>{{ uzytkownik.imie }}</dd>
            <dt>Nazwisko</dt>
            <dd>{{ uzytkownik.nazwisko }}</dd>
            <dt>Zainteresowanie</dt>
            <dd>{{ uzytkownik.zainteresowania }}</dd>
            <dt>Ulubiona Kuchnia</dt>
            <dd>{{ uzytkownik.UlubionaKuchnia }}</dd>
            <dt>Ulubione danie</dt>
            <dd>{{ uzytkownik.UlubionaPotrawa }}</dd>
            <dt>O mnie</dt>
            <dd>{{ uzytkownik.OSobie }}</dd>
        </dl>
    <a href="{{ url('data_edit') }}" title="{{ 'edit_data'|trans }}">Zmień dane</a>
    <a href="{{ url('change_password') }}" title="{{ 'changePassword'|trans }}">Zmień hasło</a>
    </div>
{% endblock %}