{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.data_view'|trans}}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.data_view'|trans }}</h1>

        <dl class="dl-horizontal">

            <dt>{{ 'label.name'|trans }}</dt>
            <dd>{{ uzytkownik.imie }}</dd>
            <dt>{{ 'label.surname'|trans }}</dt>
            <dd>{{ uzytkownik.nazwisko }}</dd>
            <dt>{{ 'label.hobby'|trans }}</dt>
            <dd>{{ uzytkownik.zainteresowania }}</dd>
            <dt>{{ 'label.favoriteCuisine'|trans }}</dt>
            <dd>{{ uzytkownik.UlubionaKuchnia }}</dd>
            <dt>{{ 'label.favoriteDish'|trans }}</dt>
            <dd>{{ uzytkownik.UlubionaPotrawa }}</dd>
            <dt>{{ 'label.aboutMe'|trans }}</dt>
            <dd>{{ uzytkownik.OSobie }}</dd>
        </dl>
    <a href="{{ url('data_edit') }}" title="{{ 'edit_data'|trans }}">{{ 'action.edit'|trans }}</a>
    <a href="{{ url('change_password') }}" title="{{ 'changePassword'|trans }}">{{ 'action.changePassword'|trans }}</a>

{% endblock %}