{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.przepis_view'|trans({'%id%': przepis.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="container">
    <h1>Przepis</h1>
    {% if przepis is defined and przepis|length %}
        <dl class="dl-horizontal">


            <dt>{{ 'tytuł' }}</dt>
            <dd>{{ tytul }}</dd>
            <dt>{{ 'treść'|trans }}</dt>
            <dd>{{ przepis.tresc }}</dd>
            <dt>{{ 'autor' }}</dt>
            <dd>{{ autor }}</dd>
            <dt>{{ 'kategoria' }}</dt>
            <dd> {{ nazwaKategorii }}</dd>

        </dl>

        <a href="{{ url('przepis_delete', {id: przepis.id}) }}" title="{{ 'delete'|trans }}">
           Usuń </a>
        <a href="{{ url('przepis_edit', {id: przepis.id}) }}" title="{{ 'edit'|trans }}">
            Edytuj </a>

    {% else %}
        <p>
           Nie znaleziono
        </p>
    {% endif %}
    </div>
{% endblock %}