{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.dane_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.dane_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'przepis'|trans, 't.tresc') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for dane in pagination %}
                <tr>
                    <td>{{ dane.tresc }}</td>

                    <td>
                        <a href="{{ url('przepis_view', {id: dane.id}) }}" title="{{ 'zobacz wiecej'|trans }}">
                            {{ 'zobacz wiecej'|trans }}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}